{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mouse Coordinates Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}">
</head>
<body>

<div class="container">
    <h1>Mouse Coordinates Tracker</h1>
    <div class="coordinates">
        <p id="coordinates"></p>
    </div>
    <p id="saved-coordinates"></p>
</div>

<script src="{% static 'web/js/track_coordinates.js' %}"></script>
<script>window.onload = webSocketConnection;</script>

</body>
</html>
