<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Mouse Coordinates</h1>
<p id="coordinates">X: , Y: </p>

<script>
    let url = `ws://${window.location.host}/ws/socket-server/`

    const socket = new WebSocket(url);

    socket.onmessage = function (event) {
        event.preventDefault()
        let data = JSON.parse(event.data)
        console.log('Data:', data);
    };


    // Function to update mouse coordinates
    function updateCoordinates(event) {
        let x = event.clientX;
        let y = event.clientY;
        document.getElementById('coordinates').innerText = `X: ${x}, Y: ${y}`;
    }

    // Add event listener for mousemove event
    document.addEventListener('mousemove', updateCoordinates);
</script>

</body>
</html>